/* Resets default styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styling */
body {
    font-family: Arial, sans-serif;
    color: #333333;
    background-color: #f5f5f5;
}

/* Header styling */
header {
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
}

header .title {
    margin: 0;
}

header nav {
    float: right;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

/* Main content styling */
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

main .section-title {
    margin-top: 0;
}

main section {
    margin-bottom: 40px;
}

/* Project styling */
main #projects ul {
    list-style: none;
}

main #projects li {
    margin-bottom: 10px;
}

main .project-title {
    margin-top: 0;
}

/* Form styling */
form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form .form-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}

form .form-submit {
    background-color: #333333;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Footer styling */
footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

/* Add a class for hidden elements */
.hidden {
    display: none;
}